<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
</head>
<body>
    <% if(rows.length > 0 ) {%>
        <%=rows[0].фамилия%>
        <%} else {%>
            Нет оценок 
            <%}%>
    <ul>
        <% for(let i=0; i < rows.length; i++){%>
        <li><%= rows[i].название %> <%= rows[i].получил_оценку%></li>
        <%}%>
    </ul>
    <a href="/">Main page</a>
</body>
</html>
